<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Categories</title>
    <!-- Css link -->
    <link rel="stylesheet" href="/templates/css/categories_page.css">

     <!-- Box Icons -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

</head>

<body>
    <section class="category" id="cateogry">

        <!-- Category Side nav -->
        <div class="category_sidenav">
            <div class="sidenav_categories">
                <h4>Categories</h4>
                <div class="category_accessories">
                    <ul>
                        <li><a href="">Dairy Products</a></li>
                        <li><a href="">Poultry Products</a></li>
                        <li><a href="">Beef Products</a></li>
                        <li><a href="">Goat Products</a></li>

                    </ul>
                    <div class="border_bottom"></div>
                </div>
            </div>
        </div>

        <!-- Category Products -->
        <div class="category_products">

            <!-- Accessories -->
            <div class="heading">
                <h2 class="dairy">Dairy</h2>
            </div>

            <div class="accessories">
                <div class="box">
                    <img src="/templates/images/milk.jpeg" alt="">
                    <h2>Fresh Milk</h2>
                    <span>500/=</span>
                    <a><i class="bx bxs-cart-alt"></i></a>
                </div>
            </div>

            <!-- Beef Products -->

            <div class="heading">
                <div class="beef">
                    <h2>Beef</h2>
                </div>

                <div class="accessories">
                    <div class="box">
                        <img src="/templates/images/cheese.jpg" alt="">
                        <h2>Product Name</h2>
                        <span>Ksh 500/=</span>
                        <a><i class="bx bxs-cart-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>