<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/templates/css/home_page.css">
</head>
<body>
    <div class="navbar">
        <h3>Home</h3>
        <ul>
        <a href="about.html">About</a>
        <a href="contact.html">Contact Me</a>
        <a href="categories.html">Categories</a>
        <a href="products.html">Products</a>
        </ul>
        
    </div>

    <div class="product-container">
        <div class="product-card">
            <img src="/templates/images/milk.jpeg" alt="Milk">
            <div class="product-name">Fresh Milk</div>
            <div class="product-price">$2.50</div>
        </div>
        <div class="product-card">
            <img src="/templates/images/cheese.jpeg" alt="Cheese">
            <div class="product-name">Cheddar Cheese</div>
            <div class="product-price">$3.00</div>
        </div>
        <div class="product-card">
            <img src="/templates/images/butter.jpeg" alt="Butter">
            <div class="product-name">Butter</div>
            <div class="product-price">$2.80</div>
        </div>
        <div class="product-card">
            <img src="/templates/images/yoghurt.jpeg" alt="Yogurt">
            <div class="product-name">Greek Yogurt</div>
            <div class="product-price">$1.50</div>
        </div>
    </div>

</body>
</html>