<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payments</title>

    <!-- Css link -->
    <link rel="stylesheet" href="/templates/css/payment_page.css">
</head>

<body>

    <section class="payment">
        <div class="payment-container">
            <h3>Payment</h3>

            <div class="orders">

                <table class="orders-table">
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Order Date</th>
                    </tr>

                    <tr>
                        <td>
                            <div class="product-info">
                                <img src="/templates/images/cheese.jpg" alt="">
                                <div>
                                    <p>Cheese</p>
                                </div>
                            </div>
                        </td>

                        <td>
                            <span>Ksh 200/=</span>
                        </td>

                        <td>
                            <span>5</span>
                        </td>

                        <td>
                            <span>5/08/2024</span>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <div class="product-info">
                                <img src="/templates/images/cheese.jpg" alt="">
                                <div>
                                    <p>Cheese</p>
                                </div>
                            </div>
                        </td>

                        <td>
                            <span>Ksh 200/=</span>
                        </td>

                        <td>
                            <span>5</span>
                        </td>

                        <td>
                            <span>5/08/2024</span>
                        </td>
                    </tr>
                    
                </table>

            </div>


            <div class="payment-information">
                <h5>Total Payment: Ksh 600/=</h5>
                <div class="btn-groups">
                    <input type="submit" value="Pay Now" name="" id="" class="payment-btn">
                </div>
            </div>
        </div>
    </section>

</body>

</html>