<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy Products</title>
    <link rel="stylesheet" type="text/css" href="../css/products_page.css">
</head>
<body>

    <h1>Our Dairy Products</h1>
    <div class="product-container">
        <div class="product-card">
            <img src="../images/milk.jpeg" alt="Milk">
            <div class="product-name">Fresh Milk</div>
            <div class="product-price">Ksh 70 per litre</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-card">
            <img src="../images/cheese.jpeg" alt="Cheese">
            <div class="product-name">Cheese</div>
            <div class="product-price">Ksh 300</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-card">
            <img src="../images/butter.jpeg" alt="Butter">
            <div class="product-name">Butter</div>
            <div class="product-price">Ksh 250</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product-card">
            <img src="../images/yoghurt.jpeg" alt="Yogurt">
            <div class="product-name">Yogurt</div>
            <div class="product-price">Ksh 150</div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
    </div>

</body>
</html>