:root{
    --main-color: #a8a62d;
    --main-light-color: #c0b15c;
    --container-color: #f8f7fc;
    --text-color: #1a1d22;
    --bg-color: #fff;
    --yellow-color: #ffff00;
    --orange-color: #ffa500;
    --red-color: #ff0000;
    --blue-color: #00d3ef;
    --green-color: #14ef00;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.error-msg{
    color: var(--red-color);
    font-weight: 400;
    margin-bottom: 2rem;
}

.success-msg{
    color: var(--green-color);
    font-weight: 400;
    margin-bottom: 2rem;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 300px;
    padding-right: 5%;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #4cae4c;
}
.signin-link {
    text-align: center;
    margin-top: 15px;
}
